body  {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}
h1 {
    margin-top: 0;
    
    color: #99ffce;
}

.but-div {
    margin-top: -5px;
    text-align: center;
}
input.inp {
    font-size: 1.25em;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 1.25em;
    width: 250px;
    padding: 5px;
    border:2px solid #ccc;
    border-radius: 10px;
}

label.lab-inp {
    font-weight: bold;
    text-align: left;
}

input.button {
    font-size: 1.50em;
    font-weight: bold;
    text-align: center;
    width: 150px;
    padding:5px 15px;
    background: #99ffce;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}


