<form class="form" action="/results" method="post">
  <label class="lab-inp" for="name"> Name </label>
    <br>
    <input class="inp"name="name" type="text"></input>
    <br>
  <label class="lab-inp" for="date"> Date of Birth </label>
    <br>
    <input class="inp" name="date" type="date"></input>
    <br>
    <div class="but-div">
  		<input class="button" type="submit" value="Go"> </input>
  	</div>
</form>
