<form action="/results" method="post">
  <label for="name"> Name </label>
    <br>
    <input name="name" type="text"></input>
    <br>
  <label for="date"> Date of Birth </label>
    <br>
    <input name="date" type="date"></input>
    <br>
  <input id="button" type="submit" value="Go"> </input>
</form>
